img{
	/*border: 5px solid black;*/
	border-radius: 5px;
	margin: auto;
}

#page1 h2{
	color: white;
	text-align: center;
}

#page1_content{
	background-color: gray;
}

#clue textarea{
	border: 3px dashed black;
}

#choices {
	width:70%;
	margin-left: 10%;
}

.helper_link{
	width:200px;
	/*float:right;*/
	/*margin-left: 20%;*/
	margin-left:40px;
}

#input_submit_button{
	/*float:right;*/

	/*margin-right: 10%;*/
	margin-top: 10px;
	margin-left: 20px;
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
}

/*#input_submit_button a{
	color:white;
	text-decoration: none;
}
*/
.center_element{
	margin: 0px auto;
	text-align: center;
}

.block_quote{
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	border: 3px dashed black;
	border-radius: 5%;
	margin: 10px;
	padding: 10px;

}

.quote_mark{
	font-size: 300%;
	color:gray;
	font-weight: bold;
}
legend{
	margin-left: 10%;
}

.label{
	/*margin-left: 10%;*/
	padding-left: 10%; 
}

#map_canvas{
	width:100%;
}

.block_brick{
	display: block;
}

#yelp{
	width: 40px;
	height: 40px;
	display: block;
	background-color: none;
}
#camera{
	border:none;
	width: 50px;
	height: 50px;
}

.rating span{
	font-size: 40px;
	margin: 2px;
}

.orange_color{
	color: black;
	background-color: orange;
	border-radius: 5px;
}